.float-btn {
  position: fixed;
  bottom: 125px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: rgb(35, 33, 33);
  color: rgba(255, 255, 255, 0.978);
  border: none;
  transition: all 0.3s ease;
}

.float-btn:hover {
  width: 120px;
  height: 50px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.978);
  background-color: rgb(35, 33, 33);
}

.btn-primary {
  border-radius: 30px;
  width: 120px;
  height: 40px;
}

.card-body {
  position: relative;
  padding-bottom: 50px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.page-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  line-height: 1.5;
}

#pagetitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

#pagetitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #007bff;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  border-radius: 2px;
}
.loader-container {
  display: flex;
  position: absolute;

  left: 45%;
  margin-top: 120px;
}

.bouncing-dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #ff5c35;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
